---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/truck.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pb-8 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="md:text-start md:p-8 px-4 text-center">
    <h1
      class="text-5xl lg:text-7xl xl:text-8xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      Food Truck
    </h1>
    <hr class="h-1 w-40 my-4 mx-auto md:mx-0 bg-gray-100 border-0 rounded md:my-10" />
    <p class="text-2xl mt-4 text-white max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.
    </p>
    <p class="text-base mt-4 text-gray-200 max-w-xl">
      We serve delicious, fresh and healthy meals daily. Check out our menu!
    </p>
  </div>
</main>
