---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/truck.png";
---

<main class="grid lg:grid-cols-2 pb-4 md:pb-12">
  <div class="p-4">
    <h1
      class="text-6xl lg:text-7xl xl:text-8xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      LOCATION & SCHEDULE
    </h1>
    <hr class="w-40 h-1 my-4 bg-gray-100 border-0 rounded md:my-10" />
  </div>
  <div class="p-4">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      Marketing website done with Astro
    </h1>
    <p class="text-lg mt-4 text-white max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS.
    </p>
  </div>
</main>
<div class="p-4 map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d369262.31570240407!2d54.50946604765528!3d24.35696999676946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sae!4v1698511657530!5m2!1sen!2sae"
    width="1215"
    class="border rounded-lg shadow-2xl"
    height="400"
    loading="lazy"></iframe>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-4 my-16 gap-16">
  <div class="flex gap-4 items-start">
    <div>
      <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
      <h6 class="text-white text-base">20-27 October</h6>
      <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
      <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
      <p class="text-slate-100 mt-2 leading-relaxed">
        20 Cooper Square, NY 10003
      </p>
      <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
    </div>
  </div>
  <div>
    <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
    <h6 class="text-white text-base">20-27 October</h6>
    <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
    <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
    <p class="text-slate-100 mt-2 leading-relaxed">
      20 Cooper Square, NY 10003
    </p>
    <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
  </div>
  <div>
    <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
    <h6 class="text-white text-base">20-27 October</h6>
    <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
    <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
    <p class="text-slate-100 mt-2 leading-relaxed">
      20 Cooper Square, NY 10003
    </p>
    <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
  </div>
  <div>
    <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
    <h6 class="text-white text-base">20-27 October</h6>
    <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
    <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
    <p class="text-slate-100 mt-2 leading-relaxed">
      20 Cooper Square, NY 10003
    </p>
    <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
  </div>
  <div>
    <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
    <h6 class="text-white text-base">20-27 October</h6>
    <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
    <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
    <p class="text-slate-100 mt-2 leading-relaxed">
      20 Cooper Square, NY 10003
    </p>
    <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
  </div>
  <div>
    <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
    <h6 class="text-white text-base">20-27 October</h6>
    <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
    <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
    <p class="text-slate-100 mt-2 leading-relaxed">
      20 Cooper Square, NY 10003
    </p>
    <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
  </div>
  <div>
    <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
    <h6 class="text-white text-base">20-27 October</h6>
    <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
    <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
    <p class="text-slate-100 mt-2 leading-relaxed">
      20 Cooper Square, NY 10003
    </p>
    <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
  </div>
  <div>
    <hr class="w-60 my-3 h-1 bg-gray-100 border-0 rounded" />
    <h6 class="text-white text-base">20-27 October</h6>
    <h3 class="font-semibold text-white text-3xl">BROOKLYN</h3>
    <hr class="w-12 my-2 h-0.5 bg-gray-100 border-0 rounded" />
    <p class="text-slate-100 mt-2 leading-relaxed">
      20 Cooper Square, NY 10003
    </p>
    <p class="text-slate-100 mt-2 leading-relaxed">09:00 - 18:00</p>
  </div>
</div>
<style>
  @media (max-width: 640px) {
    .sm-d-none {
      display: none;
    }
    .map iframe {
      width: 100%;
    }
    #contact {
      margin-top: 10px;
    }
  }
</style>
