<div class="flex justify-between text-white pb-4 border-b">
    <div class="my-auto">
        <p class="text-xl pt-4">
            Ice Cream 01</p>
        <p class="text-lg">A short description</p>
    </div>
    <div class="my-auto">
        <p class="text-xl pt-4 ">$254</p>
    </div>
</div>