---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/truck.png";
import MenuSingle from "./menu-single.astro";
---

<div class="row py-3 md:pt-16">
    <h1
    class="text-3xl pt-12 pb-4 md:text-6xl lg:text-7xl xl:text-8xl text-center font-bold lg:tracking-tight xl:tracking-tighter text-white">
    OUR MENU
  </h1>
  <p class="md:px-40 pt-4 pb-6 md:py-8 text-center text-lg text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>

</div>
<main class="grid lg:grid-cols-2 md:p-12 md:pb-12">
  <div class="md:p-28 p-8 border md:rounded-s-md hover:bg-purple-700 ease-in-out duration-300">
    <h1
      class="text-2xl lg:text-3xl xl:text-4xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      ICE CREAM
    </h1>
    <hr class="w-40 h-1 bg-gray-100 border-0 rounded md:my-6" />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
    </div>

  </div>
  <div class="md:p-28 p-8 mt-4 md:mt-0 border md:rounded-e-md hover:bg-purple-700 ease-in-out duration-300">
    <h1
      class="text-2xl lg:text-3xl xl:text-4xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      ICE CREAM
    </h1>
    <hr class="w-40 h-1 bg-gray-100 border-0 rounded md:my-6" />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
    <MenuSingle />
  </div>
</main>

<style>
  @media (max-width: 640px) {
    .sm-d-none {
      display: none;
    }
    .map iframe {
      width: 100%;
    }
    #contact {
      margin-top: 10px;
    }
  }
</style>
