---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/truck.png";
---

<main class="grid lg:grid-cols-2 pb-4 md:pb-12">
  <div class="p-4">
    <h1
      class="text-6xl lg:text-7xl xl:text-8xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      LOCATION & SCHEDULE
    </h1>
    <hr class="w-40 h-1 my-4 bg-gray-100 border-0 rounded md:my-10" />
  </div>
  <div class="p-4">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-white">
      Marketing website done with Astro
    </h1>
    <p class="text-lg mt-4 text-white max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS.
    </p>
  </div>
</main>

<style>
  @media (max-width: 640px) {
    .sm-d-none {
      display: none;
    }
    .map iframe {
      width: 100%;
    }
    #contact {
      margin-top: 10px;
    }
  }
</style>
