<div class="text-white pb-4">
    <img src="https://cdn.sanity.io/images/czqk28jt/prod_bk_us/f574650a6eecf9595cfcd164387cd6bbc54b5040-1333x1333.png?w=1125&q=80&fit=max&auto=format" alt="">
    <div class="m-auto p-4 ps-8 text-center">
        <p class="text-2xl pt-4">
            Ghost Pepper Whopper</p>
        <p class="text-xl pt-4">$254</p>
    </div>
</div>